<script id="promisepay-integration" type="text/javascript" data-jquery="true" src="https://escrow.prelive.promisepay.com/dist/wrapper.js"></script>
<h1><%= @token %></h1>
<div id="promisepay-1" data-session="<%= @token %>" data-type="1" class="promisepay-widget"></div>